button {
    margin-top: 20px;
    width: 30%;
}

form {
    margin-top: 15px;
    font-size: 15px;

    display: flex;
    flex-direction: column;
}

.container {
    margin-right: 80px;
    margin-left: 80px;
    padding: 30px;
}