<mat-card class="container">
    <mat-card-title class="title">Novo Item</mat-card-title>
    <form>
        <div>Nome:</div>
        <mat-form-field>
            <input matInput [(ngModel)]="item.nome" name="nome">
        </mat-form-field>
        <div>Preço (R$):</div>
        <mat-form-field>
            <input matInput [(ngModel)]="item.preco" name="preco">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="criarItem()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>